Java/Others/WebService_Axis2/WebContent/wsdl/SimpleWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getGreeting">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGreetingResponse">
    <complexType>
     <sequence>
      <element name="getGreetingReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPrice">
    <complexType/>
   </element>
   <element name="getPriceResponse">
    <complexType>
     <sequence>
      <element name="getPriceReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPriceResponse">

      <wsdl:part element="impl:getPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getGreetingResponse">

      <wsdl:part element="impl:getGreetingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getGreetingRequest">

      <wsdl:part element="impl:getGreeting" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceRequest">

      <wsdl:part element="impl:getPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SimpleWS">

      <wsdl:operation name="getGreeting">

         <wsdl:input message="impl:getGreetingRequest" name="getGreetingRequest">

       </wsdl:input>

         <wsdl:output message="impl:getGreetingResponse" name="getGreetingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdl:input message="impl:getPriceRequest" name="getPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPriceResponse" name="getPriceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SimpleWSSoapBinding" type="impl:SimpleWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getGreeting">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGreetingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGreetingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SimpleWSService">

      <wsdl:port binding="impl:SimpleWSSoapBinding" name="SimpleWS">

         <wsdlsoap:address location="http://localhost:8084/WebService_Axis2/services/SimpleWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
