Java/Others/WebService_Server_CXF/WebContent/wsdl/echotest_schema1.xsd

<xs:schema xmlns:tns="http://test.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://test.com/" version="1.0">

  <xs:element name="echo" type="tns:echo"/>

  <xs:element name="echoResponse" type="tns:echoResponse"/>

  <xs:complexType name="echo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="echoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
